@import "../../scss/fonts.scss";

.box {
  max-width: 360px;

  @media (min-width: 1215px) {
    &:last-child:nth-child(even) {
      max-width: 1160px;
      width: 1160px;
    }

    &:last-child:nth-child(2) {
      max-width: 360px;
      width: 360px;
  }
  }

  @media (min-width: 820px) and (max-width: 1215px) {
    &:last-child:nth-child(odd) {
      max-width: 760px;
      width: 760px;
    }
  }
}

.boxOfWidth {
  display: block;
  max-width: 360px;
  cursor: pointer;
}

.img {
  width: 360px;
  height: 230px;
}

.tags {
  display: block;
  padding-top: 1rem;
  color: #eb0028;
  font-size: 0.81rem;
  @include r7;
  line-height: 13px;
}

.title {
  display: block;
  padding-top: 1rem;
  color: #000;
  @include r7;
  font-size: 1.5rem;
  line-height: 30px;
}

.wrapper {
  display: flex;
  padding-top: 1rem;
  gap: 0.31rem;
  align-items: center;
}

.autor {
  color: #000;
  font-size: 0.75rem;
  @include r5;
  line-height: 12px;
}

.date,
.views {
  color: #9b9b9b;
  font-size: 0.75rem;
  @include r4;
  line-height: 12px;
}

.text {
  padding-top: 1rem;
  color: #929292;
  font-size: 0.87rem;
  @include r4;
  line-height: 20px;
}
