@import "../../scss/fonts.scss";

.box {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.31rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.logo {
  display: none;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.menu {
  position: relative;
  display: flex;
  align-items: baseline;
  padding-bottom: 1.25rem;
  @include r5;
  font-size: 1rem;
  line-height: 1rem;

  & > div {
    cursor: pointer;

    & > span {
      padding-right: 5px;
    }

    & > a {
      color: black;
    }
  }
}

.arrow {
  padding-bottom: 1px;
}

.subMenu {
  position: absolute;
  top: 100%;
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  overflow: hidden;
  background: #fff;
  transition: grid-template-rows 0.4s, opacity 0.4s;

  &Active {
    grid-template-rows: 1fr;
    opacity: 1;
    transition: grid-template-rows 0.4s, opacity 0.4s;
  }
}

.subMenuBox {
  min-height: 0;
}

.subMenuItem {
  min-width: 136px;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  border-bottom: 1px solid #e9e9e9;

  & .subMenuLink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &:first-child .subMenuLink {
    padding-top: 1.25rem;
  }

  &:last-child .subMenuLink {
    padding-bottom: 1.25rem;
  }
}

.subMenuLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include r4;
  font-size: 0.81rem;
  line-height: 13px;
  cursor: pointer;

  & span {
    padding-left: 0;
    color: black;
    transition: padding-left 0.3s, color 0.3s;
  }
}

.mask {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  background: #fff;
}

.box {
  position: absolute;
  top: 0;
  width: 320px;
  height: 100vh;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  background-color: #fff;
}

.mobilMenuACtive {
  transform: translateX(0);
  transition: transform 0.5s;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 1.81rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-bottom: 1px solid #e9e9e9;
}

.nav {
  gap: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  & > div {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e9e9e9;
  }

  &:first-child > div {
    padding-top: 1.81rem;
  }
}

.subMenu {
  width: 100%;
  position: relative;
}

.subMenuItem {
  width: 100%;
}
