@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@mixin r4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin r5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
}

@mixin r7 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
}