@import "../../scss/fonts.scss";

.box {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.31rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.logo {
  display: none;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.menu {
  position: relative;
  display: flex;
  align-items: baseline;
  padding-bottom: 1.25rem;
  @include r5;
  font-size: 1rem;
  line-height: 1rem;

  cursor: pointer;

  & > span {
    padding-right: 5px;
  }

  & > a {
    color: black;
  }

  &:hover .subMenu {
    grid-template-rows: 1fr;
    opacity: 1;
    transition: grid-template-rows 0.4s, opacity 0.1s;
  }
}

.arrow {
  padding-bottom: 1px;
}

.subMenu {
  position: absolute;
  top: 100%;
  display: grid;
  grid-template-rows: 0fr;
  border: 1px solid #e9e9e9;
  opacity: 0;
  overflow: hidden;
  background: #fff;
  transition: grid-template-rows 0.4s, opacity 0.4s;
}

.subMenuBox {
  min-height: 0;
}

.subMenuItem {
  min-width: 136px;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  border-bottom: 1px solid #e9e9e9;

  & .subMenuLink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &:first-child .subMenuLink {
    padding-top: 1.25rem;
  }

  &:last-child .subMenuLink {
    padding-bottom: 1.25rem;
  }

  &:last-child {
    border-bottom: none;
  }
}

.subMenuLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include r4;
  font-size: 0.81rem;
  line-height: 13px;
  cursor: pointer;

  & span {
    padding-left: 0;
    color: black;
    transition: padding-left 0.3s, color 0.3s;
  }

  &:hover span {
    padding-left: 0.5rem;
    color: #969696;
    transition: padding-left 0.3s, color 0.3s;
  }
}
